# Python
__pycache__/
*.keras

# VSCode / IDE
.vscode/

# macOS
.DS_Store

# Cache
*.tmp

# data
data/processed/pretrain_data_ids.npz
data/processed/pretrain_data_shorted_ids.npz
data/processed/continued_pretrain_data_ids.npz
data/processed/SFT1_data_ids.npz
data/processed/SFT2_data_ids.npz
data/raw/continued_pretrain_data.jsonl
data/raw/pretrain_data.jsonl
data/raw/shorted_data.jsonl
data/raw/SFT_1.jsonl
data/raw/SFT_2.jsonl
data/raw/hoang_de.jsonl

topic.md
data/history/
