# Python
__pycache__/
*.keras

# VSCode / IDE
.vscode/

# macOS
.DS_Store

# Cache
*.tmp

# data
data/processed/pretrain_data_ids.npz
data/processed/finetune_data_ids.npz
data/raw/pretrain_data.jsonl
data/raw/shorted_data.jsonl
data/raw/finetune_data.jsonl
