# Python
__pycache__/
*.keras

# VSCode / IDE
.vscode/

# macOS
.DS_Store

# Cache
*.tmp

# data
data/processed/pretrain_data_ids.npz
data/processed/pretrain_data_shorted_ids.npz
data/processed/continued_pretrain_data_ids.npz
data/processed/SFT1_data_ids.npz
data/processed/SFT2_data_ids.npz
data/raw/


data/history/
data/tao_cau/

model/

test/

web/
